<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 開発用ローカル起動用 -->
    <springProfile name="develop">
        <include resource="logback-local.xml"/>
    </springProfile>
    <springProfile name="unit">
        <include resource="logback-test.xml"/>
    </springProfile>

    <!-- ステージング環境起動用 -->
    <springProfile name="staging">
        <include resource="logback-staging.xml"/>
    </springProfile>

    <!-- 本番環境起動用 -->
    <springProfile name="production">
        <include resource="logback-production.xml"/>
    </springProfile>

</configuration>