<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">

<head>
    <meta charset="UTF-8">
    <title th:text="AAAAAA">個別ページタイトル</title>
    <meta name="description" content="個別metaタグ">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/css/materialize.min.css"
          th:href="@{/css/materialize.min.css}">
    <link rel="stylesheet"
          href="../static/css/mstepper.min.css"
          th:href="@{/css/mstepper.min.css}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/js/materialize.min.js"
            th:src="@{js/materialize.min.js}"></script>
    <script src="../static/js/mstepper.min.js" th:src="@{/js/mstepper.min.js}"></script>


    <script src="../static/js/common-script.js" th:src="@{/js/common-script.js}"></script>
</head>
<body>
<div layout:fragment="header">タイトルは個別に設定します。</div>
<div layout:fragment="contents">
    <P>ここから下が、個別のページです</P>
    <div id="hello-text"></div>
    <!-- 個別ページでjquery-uiが正しくうごくか検証します -->
    <input type="text" class="datepicker"/>
</div>
</body>
</html>