<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/css/materialize.min.css"
          media="screen,projection"
          rel="stylesheet"
          type="text/css"/>
    <link href="../../../static/css/common.css" media="screen,,projection" rel="stylesheet" th:href="/css/common.css"
          type="text/css">

</head>
<body class="has-fixed-sidenav">
<header th:fragment="header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo" href="../index1.html" th:href="@{~/bar/index1}">Logo</a>
            </div>
        </nav>
        <ul class="sidenav sidenav-fixed">
            <li><a href="../index1.html" th:href="@{~/bar/index1}"><i class="material-icons">cloud</i>First Link With
                Icon</a></li>
            <li><a href="../index2.html" th:href="@{~/bar/index2}">Second Link</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="../index3.html" th:href="@{~/bar/index3}">Third Link With Waves</a></li>
        </ul>
    </div>


</header>
<div class="container">
</div>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/js/materialize.min.js"
        type="text/javascript"></script>
<script src="../../../static/js/init.js" th:src="@{~/js/init.js}"
        type="text/javascript"></script>
<script src="../../../static/js/bar/fragments/sidenav.js" th:fragment="sidebarjs"
        th:src="@{~/js/bar/fragments/sidenav.js}"
        type="text/javascript"></script>

</body>
</html>