.gradle
/build/
/build

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.idea/
/.idea
/api-template/build/
/api-template/build
/web-template/build/
/web-template/build
/api-template/out/
/api-template/out
/admin-template/build
/admin-template/build/
/admin-template/out
/admin-template/out/
/web-template/out
/web-template/out/
/precondition/build/
/precondition/build
/precondition/out/
/precondition/out
/primitive/build/
/primitive/build
/primitive/out/
/primitive/out
