.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.idea/
/admin-template/build/
/templateApplication/build/
/templateApplication/logs/
/logs/
/src/env/axon-server/data/*
/src/env/axon-server/events/*
/src/env/axon-server/config/*
/src/env/jenkins/jenkins_home/*
/src/env/redis/data/*
/web-common/build/
/common-primitive/build/
/common-test/build/
/common-precondition/build/
/authorization-server/build/
/template-web-admin/build/
/template-web-member/build/
/template-web-productOwner/build/
/template-web-viewer/build/
/common-exception/build/
/common-message/build/
/web-security/build/
/templateApplication/src/main/generated/
/template-web-application/build/
/template-webapi-application/build/
/template-webapi-application/src/main/generated/
