.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.idea/
/admin-template/build/
/templateApplication/build/
/templateApplication/logs/
/logs/
/src/env/axon-server/data/*
/src/env/axon-server/events/*
/src/env/axon-server/config/*
/src/env/jenkins/jenkins_home/*
/src/env/redis/data/*
/web-common/build/
/template-web-front/build/
/common-primitive/build/
/common-precondition/build/
/authorization-server/build/
