<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="no" name="msapplication-tap-highlight">
    <meta content="" name="description">    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/css/materialize.min.css"
          rel="stylesheet">
</head>
<body class="has-fixed-sidenav">
<header id="global-header" layout:fragment="header">
    <div class="navbar-fixed">
        <nav class="navbar white">
            <div class="nav-wrapper"><a class="brand-logo grey-text text-darken-4"
                                        href="#!">Home</a>
                <ul class="right" id="nav-mobile">
                    <li class="hide-on-med-and-down"><a class="dropdown-trigger waves-effect" data-target="dropdown1"
                                                        href="#!"><i
                            class="material-icons">notifications</i></a></li>
                    <li><a class="dropdown-trigger waves-effect" data-target="chat-dropdown"
                           href="#!"><i
                            class="material-icons">settings</i></a></li>
                </ul>
                <a class="sidenav-trigger left" data-target="sidenav-left" href="#!"><i
                        class="material-icons black-text">menu</i></a>
            </div>
        </nav>
    </div>
    <div layout:replace="~{layout/navi::navbar}"></div>
</header>
</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/js/materialize.min.js"></script>

</html>