<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/css/materialize.min.css">
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!-- /*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer">
    &copy; 2016 Footer
</div>
<div th:fragment="footer-admin">
    &copy; 2016 Admin Footer
</div>
<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/js/materialize.min.js"></script>
</body>
</html>