<included>
    <property name="LOG_DIR" value="./build/logs"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> <!-- (1) -->
        <encoder>
            <pattern>
                <![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-40logger{40}\tmessage:%replace(%msg){'(\r\n|\r|\n)','$1  '}%n%replace(%replace(%xEx){'(\r\n|\r|\n)','$1  '}){'  $',''}%nopex]]></pattern> <!-- (2) -->
        </encoder>
    </appender>

    <appender name="APPLICATION_LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender"> <!-- (3) -->
        <file>${LOG_DIR}/WebFront.log</file> <!-- (4) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_DIR}/WebFront-%d{yyyy-MM-dd}.zip
            </fileNamePattern> <!-- (5) -->
            <maxHistory>7</maxHistory> <!-- (6) -->
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset> <!-- (7) -->
            <pattern>
                <![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-40logger{40}\tmessage:%replace(%msg){'(\r\n|\r|\n)','$1  '}%n%replace(%replace(%xEx){'(\r\n|\r|\n)','$1  '}){'  $',''}%nopex]]></pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger level="debug" name="com.undecided.projectTemplate.admin"/>
    <logger level="debug" name="com.undecided.projectTemplate.shared"/>
    <logger level="debug" name="com.undecided.projectTemplate.example"/>
    <logger level="trace" name="com.undecided.gfw.web.logging.HttpSessionEventLoggingListener"/>
    <logger level="trace" name="com.undecided.gfw.web.logging.TraceLoggingInterceptor"/>
    <logger level="info" name="com.undecided.gfw.web.token.transaction"/>
    <logger level="info" name="com.undecided.gfw.common.exception.ExceptionLogger"/>
    <logger level="info" name="org.springframework"/>
    <root level="warn"> <!-- (11) -->
        <appender-ref ref="STDOUT"/> <!-- (12) -->
        <appender-ref ref="APPLICATION_LOG_FILE"/>
    </root>

</included>
