<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-40logger{40}\tmessage:%replace(%msg){'(\r\n|\r|\n)','$1  '}%n%replace(%replace(%xEx){'(\r\n|\r|\n)','$1  '}){'  $',''}%nopex]]></pattern> <!-- (2) -->
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger level="debug" name="template"/>

    <logger level="info" name="com.undecided.gfw.web.token.transaction"/>

    <logger level="info" name="org.springframework"/>

    <root level="warn"> <!-- (11) -->
        <appender-ref ref="STDOUT"/> <!-- (12) -->
    </root>

</configuration>