<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>プロジェクト管理システム</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>プロジェクト一覧</h1>
    <a href="./new_project.html" th:href="@{/project/showNewProjectForm}"
       class="btn btn-primary btn-sm mb-3"> Add プロジェクト </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>プロジェクトコード</th>
            <th>プロジェクト名</th>
            <th>アクション</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${list}">
            <td th:text="${project.attribute.projectCode.value}"></td>
            <td th:text="${project.attribute.projectCode.value}"></td>
            <td th:text="${project.attribute.projectName.value}"></td>
            <td>
                <a th:href="@{/project/showFormForUpdate/{id}(id=${project.projectId.value})}"
                   class="btn btn-primary">Update</a>
                <a th:href="@{/project/delete/{id}(id=${project.projectId.value})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>