<included>
    <property name="LOG_DIR" value="./build/logs"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> <!-- (1) -->
        <encoder>
            <pattern>
                <![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-48logger{48}\tmessage:%replace(%msg){'(\r\n|\r|\n)','$1  '}%n%replace(%replace(%xEx){'(\r\n|\r|\n)','$1  '}){'  $',''}%nopex]]></pattern> <!-- (2) -->
        </encoder>
    </appender>

    <appender name="APPLICATION_LOG_FILE"
      class="ch.qos.logback.core.FileAppender"> <!-- (3) -->
        <file>${LOG_DIR}/application.log</file> <!-- (4) -->
        <encoder>
            <charset>UTF-8</charset> <!-- (7) -->
            <pattern>
                <![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-48logger{48}\tmessage:%replace(%msg){'(\r\n|\r|\n)','$1  '}%n%replace(%replace(%xEx){'(\r\n|\r|\n)','$1  '}){'  $',''}%nopex]]></pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger name="org.venusPj.projectTemplate"> <!-- (9) -->
        <level value="info"/>
    </logger>

    <logger name="org.venusPj.gfw"> <!-- (9) -->
        <level value="trace"/>
    </logger>

    <logger name="org.springframework">
        <level value="warn"/>
    </logger>

    <logger name="org.springframework.web.servlet">
        <level value="info"/>
    </logger>
    <!--
        <logger name="org.terasoluna.gfw.common.exception.ExceptionLogger.Monitoring" additivity="false">&lt;!&ndash; (10) &ndash;&gt;
            <level value="error" />
            <appender-ref ref="MONITORING_LOG_FILE" />
        </logger>
    -->
    <root level="warn"> <!-- (11) -->
        <appender-ref ref="STDOUT"/> <!-- (12) -->
        <appender-ref ref="APPLICATION_LOG_FILE"/>
    </root>

</included>
