<included>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> <!-- (1) -->
        <encoder>
            <pattern>
                <![CDATA[date:%d{yyyy-MM-dd HH:mm:ss.SSS}\tthread:%thread\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-48logger{48}\tmessage:%msg%n]]></pattern> <!-- (2) -->
        </encoder>
    </appender>

    <appender name="APPLICATION_LOG_FILE"
      class="ch.qos.logback.core.rolling.RollingFileAppender"> <!-- (3) -->
        <file>../logs/application.log</file> <!-- (4) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ../logs/application-%d{yyyy-MM-dd}.zip
            </fileNamePattern> <!-- (5) -->
            <maxHistory>7</maxHistory> <!-- (6) -->
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset> <!-- (7) -->
            <pattern>
                <![CDATA[date:::%d{yyyy-MM-dd HH:mm:ss.SSS}\tthread:::%thread\tX-Track:::%X{X-Track}\tlevel:::%-5level\tlogger:::%-48logger{48}\tmessage:::%msg\t%n]]></pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger level="info" name="com.undecided"/>
    <logger level="info" name="org.springframework.web.servlet"/>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APPLICATION_LOG_FILE"/>
    </root>

</included>
