<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="./build/logs"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> <!-- (1) -->
        <encoder>
            <pattern>
                <![CDATA[date:%d{yyyy-MM-dd HH:mm:ss.SSS}\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-40logger{40}\tmessage:%replace(%msg){'(\r\n|\r|\n)','$1  '}%n%replace(%replace(%xEx){'(\r\n|\r|\n)','$1  '}){'  $',''}%nopex]]></pattern> <!-- (2) -->
        </encoder>
    </appender>

    <appender name="APPLICATION_LOG_FILE" class="ch.qos.logback.core.FileAppender"> <!-- (3) -->
        <file>${LOG_DIR}/WebBackend.log</file> <!-- (4) -->
        <encoder>
            <charset>UTF-8</charset> <!-- (7) -->
            <pattern>
                <![CDATA[date:%d{yyyy-MM-dd HH:mm:ss.SSS}\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-40logger{40}\tmessage:%replace(%msg){'(\r\n|\r|\n)','$1  '}%n%replace(%replace(%xEx){'(\r\n|\r|\n)','$1  '}){'  $',''}%nopex]]></pattern>
        </encoder>
        <append>false</append>
    </appender>

    <!-- Application Loggers -->
    <logger level="debug" name="template"/> <!-- (9) -->

    <logger level="trace" name="template.shared"/> <!-- (9) -->

    <logger level="info" name="com.undecided.gfw.web.logging.HttpSessionEventLoggingListener"/> <!-- (9) -->
    <logger level="trace" name="com.undecided.gfw.web.logging.TraceLoggingInterceptor"/> <!-- (9) -->
    <logger level="trace" name="com.undecided.gfw.common.exception.ExceptionLogger.Monitoring"/>
    <logger level="info" name="com.undecided.gfw.web.token.transaction"/> <!-- (9) -->
    <logger level="info" name="com.undecided.gfw.common.exception.ExceptionLogger"/> <!-- (9) -->

    <logger level="info" name="org.springframework"/>
    <logger level="info" name="org.thymeleaf"/>
    <logger level="info" name="org.flywaydb.core"/>

    <!--logger name="org.springframework.web.servlet">
        <level value="info"/>
    </logger -->
    <root level="debug"> <!-- (11) -->
        <appender-ref ref="STDOUT"/> <!-- (12) -->
        <appender-ref ref="APPLICATION_LOG_FILE"/>
    </root>

</configuration>
