<configuration>
    <!-- 開発用ローカル起動用 -->
    <springProfile name="develop,test,unit">
        <include resource="logback-local.xml"/>
    </springProfile>

    <!-- ステージング環境起動用 -->
    <springProfile name="staging">
        <include resource="logback-staging.xml"/>
    </springProfile>

    <!-- 本番環境起動用 -->
    <springProfile name="production">
        <include resource="logback-production.xml"/>
    </springProfile>

</configuration>