<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>祝日を変更</title>
    <!-- Compiled and minified CSS -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.2-alpha/dist/css/materialize.min.css"
          media="screen,projection"
          rel="stylesheet"
          th:href="@{/css/materialize.min.css}">
    <link href="../../../static/css/application.css" rel="stylesheet" th:href="@{~/css/application.css}">

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body>
<nav>
    <div class="nav-wrapper" th:replace="~{fragments/fragments :: navi-bar}">
        <a class="brand-logo" href="/">テンプレートシステム</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="badges.html">一般</a></li>
            <li><a href="#">システム管理</a></li>
        </ul>
    </div>
</nav>
<th:block th:replace="~{admin/fragments/fragments :: side-navi}">
    <ul class="sidenav" id="slide-out">
        <li><a class="waves-effect" href="#"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a class="waves-effect" href="#">Second Link</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#">Third Link With Waves</a></li>
    </ul>
    <a class="sidenav-trigger" data-target="slide-out" href="#"><i class="material-icons">menu</i></a>
</th:block>
<h4>祝日変更</h4>
<div class="row" style="gap: 5px;">
    <form action="#" class="col xl6" method="post" th:action="@{update}" th:object="${form}">
        <div class="row">
            <div class="input-field outlined col xl12">
                <input class="validate" id="holidayId" type="hidden"
                       th:field="*{holidayId}">
            </div>
            <div class="input-field outlined col xl12">
                <input class="validate" id="first_name" placeholder="日付をyyy/MM/dd形式で入力してください" required
                       th:field="*{holiday}" type="text">
                <label for="first_name">祝日<span class="text-accent-1">*</span></label>
            </div>
            <div class="input-field outlined col xl12">
                <input class="validate" id="last_name" placeholder="祝日の名称を入力してください" required th:field="*{name}"
                       type="text">
                <label for="last_name">名称<span class="text-accent-1">*</span></label>
            </div>
        </div>
        <input type="submit" value="送信する"/>
        <a href="list.html" th:href="@{/admin/holiday}">キャンセル</a>
    </form>
</div>
</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.2-alpha/dist/js/materialize.min.js"
        th:src="@{/js/materialize.min.js}"></script>
<script src="../../../static/js/init.js" th:src="@{~/js/init.js}"></script>

</html>